
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

h1 {
  cursor: default;
}

.dark h1 {
  background-color: transparent;
}

.light h1 {
  background-color: transparent;
}

.dark::selection {
  background: #ffeaea;
  color: #161212;
  border: white;
}

.light::selection {
  color: #ffeaea;
  border: black;
  background: #161212;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.overParticles {
  z-index: 9999;
}

.dark {
  color: #ffeaea;
  background-color: #161212;
}

.light {
  background-color: #ffeaea;
  color: #161212;
}

